{% extends 'WPET/base.html' %}
{% load static %}

{%block content%}
<div class = 'col text-center text-light bg-dark'>
  <img src="../../static/WPETpic.jpg" alt="WPET" width=100% />
  <div class="article-content-outer px-5 mx-5" >
    <h2> What is WPET? </h2>
    <p class = "text-left " > We are making a new way to detect cancer with PET (positron emission tomography) scanning technique. The scanning device is compact and as comfortable as possible for a patient to be in. PET scanning is performed by detecting cancer tumor when patient has been injected with a radioactive tracer. We use PET scanning by attaching detective sensor panels to our product. We are able to locate the cancer detection panel placements even when the patient is moving while being scanned.</p>
  </div>

  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PdHKx25NDdA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="bg-dark text-center">
    <img src="../../static/PDP-Logo-Small.png" alt="pdplogo" width=10%/>
    <img src="../../static/Aalto_EN_21_WHITE_3_Original.png" alt="aalto-logo" width=10%/>
  </div>

</div>
{% endblock %}
