{% extends 'WPET/base.html' %}
{% load static %}
{%block content%}
<head>
  <meta charset="UTF-8">
  <title>prototype</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
  <section id=timeline>
  <h1>Project Process</h1>
  <div align="center">
  <iframe src="https://drive.google.com/file/d/1ZVagAvzoSLZ6CCc9nHeHYhAZ8C-Rwea8/preview" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
	<h1>Timeline of the project</h1>
	<div class="demo-card-wrapper">
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span>01</span>
				</div>
				<h2><span class="small">Week 3 - Week 4</span>Team Forming</h2>
			</div>
			<div class="body">
				<p>Formed the team and picked up the project.</p>
        <img src="../../static/WPETpic.jpg" alt="wpet" style="max-height:250px"/>
			</div>
		</div>

		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span>02</span>
				</div>
				<h2><span class="small">Week 6</span> PD6</h2>
			</div>
			<div class="body">
				<p>Met international teammates. Brainstorm with the whole team.</p>
				<img src="../../static/team2.jpg" alt="team" style="max-height:250px">
			</div>
		</div>

		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span>03</span>
				</div>
				<h2><span class="small">Oct 2019 - Dec 2019 </span>Prototype</h2>
			</div>
			<div class="body">
				<p>Brainstorm and tested the first prototype.</p>
        <img src="../../static/first_prototype1.jpg" alt="prototype" style="max-height:250px">
			</div>
		</div>

		<div class="demo-card demo-card--step4">
			<div class="head">
				<div class="number-box">
					<span>04</span>
				</div>
				<h2><span class="small">16.12.2020</span> Sponsor Meeting</h2>
			</div>
			<div class="body">
				<p>The sponsor visited Finland, presented the easy PET, had a brainstorming session with the whole team.</p>
				<img src="../../static/sponsor2.jpg" alt="sponsormeeting" style="max-height:250px">
			</div>
		</div>

		<div class="demo-card demo-card--step5">
			<div class="head">
				<div class="number-box">
					<span>05</span>
				</div>
				<h2><span class="small">24.1.2020</span>Halfway show</h2>
			</div>
			<div class="body">
				<p>Rami presented the project in DF.</p>
				<img src="../../static/halfwayshow.jpg" alt="halfway_show" style="max-height:250px">
			</div>
		</div>

    <div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span>06</span>
				</div>
				<h2><span class="small">24.2.2020</span>Motion Capture</h2>
			</div>
			<div class="body">
				<p>Visited motion capture studio, discussed how to to the test.</p>
				<img src="../../static/motion_capture_studio_PICTURE2.jpg" alt="halfway show" style="max-height:250px">
			</div>
		</div>
	</div>

  <div class="demo-card-wrapper">
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span>07</span>
				</div>
				<h2><span class="small">02.03 - 06.03</span>Team of the week</h2>
			</div>
			<div class="body">
				<p>Take care of DF during this week.</p>
        <img src="../../static/breakfast.jpg" alt="breakfast" style="max-height:250px"/>
			</div>
		</div>

		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span>08</span>
				</div>
				<h2><span class="small">Mar.2020 - May 2020</span>Remote Working</h2>
			</div>
			<div class="body">
				<p>Working remotely to prepare the prototype for motion capture.</p>
				<img src="../../static/Vest_Draft 2.jpg" alt="prototype2" style="max-height:250px">
			</div>
		</div>

		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span>09</span>
				</div>
				<h2><span class="small">06.05</span>Testing with prototype</h2>
			</div>
			<div class="body">
				<p>Rami tested the 10 kg vest prototype for 8h.</p>
				<img src="../../static/10kgtesting.jpg" alt="teamoftheweek" style="max-height:250px">
			</div>
		</div>

		<div class="demo-card demo-card--step4">
			<div class="head">
				<div class="number-box">
					<span>10</span>
				</div>
				<h2><span class="small"></span> Testing in Poland</h2>
			</div>
			<div class="body">
				<p>Poland team tested the prototype with reed switch.</p>
				<img src="../../static/testing_in_poland.jpg" alt="testing_in_poland" style="max-height:250px">
			</div>
		</div>

		<div class="demo-card demo-card--step5">
			<div class="head">
				<div class="number-box">
					<span>11</span>
				</div>
				<h2><span class="small">During Summer</span>Prototype</h2>
			</div>
			<div class="body">
        <p>Our team built the final prototype during the summer.</p>
        <img src="../../static/summer.jpg" alt="summer" style="max-height:250px">
			</div>
		</div>

	</div>
</section>
</body>

{% endblock %}
