{% extends 'WPET/base.html' %}
{% load static %}

{%block content%}
<div class = 'col text-left m-3'>
  <div class="alert mx-5 px-5" role="alert">
  <h4> What is PET?</h4>
  <hr>
    <div class="text-center" >
    <iframe src="https://drive.google.com/file/d/1ZisU8O3mXY7p4nqXl-yiI2akC0GdQ7m6/preview" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  <h4 calss="alert-heading">The problem</h4>
    <hr>
  <p class = "text-justify mx-3" > PET-scanning is an effective way to detect cancer. However, right now PET-scanning procedure has a high price tag, there’s only a few scanners in each oncological unit and the radiation dose to patients has its own health risks. Therefore, PET-scanning is not used for preventive searching, but to establish whether cancer diagnosed patient has developed metastasis.
  </p>
  <h4 calss="alert-heading">The solution</h4>
    <hr>
  <p class = "text-justify mx-3" >We want to expand the use of PET-scanning to the early stages of preventive cancer searching. With new microelectronics, it’s possible to make the scanning in smaller scale, so that the device is on the patient for a longer period of time, therefore the needed radiation dose can be decreased. This enables us to do the scanning devices more cheaply, so that it would be possible to have them also already for preventive searching.
  </p>
</div>
{% endblock %}
