{% extends 'WPET/base.html' %}
{% load static %}
{%block content%}
<head>
  <meta charset="UTF-8">
  <title>prototype</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
  <section id=timeline>
	<h1>Timeline of our project</h1>
	<div class="demo-card-wrapper">
		<div class="demo-card demo-card--step1">
			<div class="head">
				<div class="number-box">
					<span>01</span>
				</div>
				<h2><span class="small">Week 3?</span> Team</h2>
			</div>
			<div class="body">
				<p>form the team and pick up the topic</p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step2">
			<div class="head">
				<div class="number-box">
					<span>02</span>
				</div>
				<h2><span class="small">Week 6</span> PD6</h2>
			</div>
			<div class="body">
				<p>Meet international teammates</p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step3">
			<div class="head">
				<div class="number-box">
					<span>03</span>
				</div>
				<h2><span class="small">Week?-week?</span> First prototype</h2>
			</div>
			<div class="body">
				<p>Brain storming & made first prototype</p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step4">
			<div class="head">
				<div class="number-box">
					<span>04</span>
				</div>
				<h2><span class="small">16.12</span> Meet our sponsor</h2>
			</div>
			<div class="body">
				<p>Present the prototype, easy PET etc.</p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>

		<div class="demo-card demo-card--step5">
			<div class="head">
				<div class="number-box">
					<span>05</span>
				</div>
				<h2><span class="small">Week - week </span> Second Prototype</h2>
			</div>
			<div class="body">
				<p>Made the second prototype for motion capture</p>
				<img src="http://placehold.it/1000x500" alt="Graphic">
			</div>
		</div>

	</div>
</section>

{% endblock %}
