{% extends 'WPET/base.html' %}
{% load static %}

{%block content%}
<div class = 'col text-center'>
    <div class="article-content-outer m-3" >
      <h1>Testing</h1>
      <P>VEST PICTURE HERE</P>
      <p>The vest is our goal for wearable PET-scanning device. It’s  around 10 kg, and the patient is able to wear it and do some simple daily activities while wearing it. It has a battery and the vest will track relative motion to the patient’s body, so that it’s always known, where the detective panels are relative to the body. </p>
</div>
{% endblock %}
