{% extends 'WPET/base.html' %}
{% load static %}

{%block content%}
<!-- Nav tabs -->
<div class="row mx-5 px-5">

  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-concept-tab" data-toggle="pill" href="#v-pills-WPET" role="tab" aria-controls="v-pills-WPET" aria-selected="true">WPET</a>
      <a class="nav-link" id="v-pills-WPET-tab" data-toggle="pill" href="#v-pills-concept" role="tab" aria-controls="v-pills-concept" aria-selected="true">Concept</a>
      <a class="nav-link" id="v-pills-EasyPET-tab" data-toggle="pill" href="#v-pills-EasyPET" role="tab" aria-controls="v-pills-EasyPET" aria-selected="false">EasyPET</a>
      <a class="nav-link" id="v-pills-Prototype-tab" data-toggle="pill" href="#v-pills-Prototype" role="tab" aria-controls="v-pills-Prototype" aria-selected="false">Prototype</a>
    </div>
  </div>
  <div class="col-9 ml-auto">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-WPET" role="tabpanel" aria-labelledby="v-pills-WPET-tab">
        <p class = "text-justify mx-3">Our goal is to make a wearable PET-scanning vest. It would be around 10 kg, and the patient is able to wear it and do some simple daily activities while wearing it.It has a battery and the vest will track relative motion to the patient’s body, so that it would be known, where the detective panels are relative to the body. </p>
        <div class="text-center">
        <img src="../../static/wpet1.png" alt="wpet" width="20%">
        </div>
        <p class = "text-justify mx-3">In Finland, our team is focusing on the structure, and how to make it as stable, but also as comfortable to wear as possible. We’re also thinking of a possibility to do an aiding device, to take some weight of the vest to help the patient bare the weight.</p>
        <div class="text-center">
        <img src="../../static/wpet2.jpg" alt="wpet2" width="20%">
        </div>
        <p class = "text-justify mx-3">In Poland, our team members are testing and building electronics for our product. The team is making the electronics with a wetsuit, which is made durable with a tailor, to test a different alternative structure for the wearable PET scanner.</p>
        <p class = "text-justify mx-3">We’re planning to make an app, which gets real time data. The wearable will measure temperature, so that it’s easier to control it. The electronics can measure if there are sudden movements, which would lead to wrong data to the scanning device and the app can take that data away. </p>
      </div>
      <div class="tab-pane fade" id="v-pills-concept" role="tabpanel" aria-labelledby="v-pills-concept-tab">
        <div align="center">
        <iframe src="https://drive.google.com/file/d/1FFUVkTeky8jwB2Rq1vKBTd18UEvUaMD9/preview" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img src="../../static/concept/illustrative image.jpg" alt="concept"  width="560" >
        </div>
        <h3>Basic structure</h3>
        <p class = "text-justify mx-3">The basic structure is a solid grid, that holds PET-sensors at their place. The grid structure makes it as lightweight as possible, but still able to hold the PET-sensors weight, which are in total about 10 kg. </p>
        <h3>The electronics</h3>
        <p class = "text-justify mx-3">Besides the PET-scanners, there are stretching sensors, wiring, battery etc, that will be all attached to the basic structure. The stretching sensors will measure the distances between panels, so that when there’s movement it’s always tracked. The tracking will happen with wireless connection, that will give real time data about the panel placement.</p>
        <h3>Cover up</h3>
        <p class = "text-justify mx-3">A textile cover up will cover the whole structure, and have cushioning on the inside, to make  wearing the vest as pleasant as possible. It will also cover the outside, so that the wearable scanner looks as much like a normal clothing as possible.</p>
        </div>
      <div class="tab-pane fade" id="v-pills-EasyPET" role="tabpanel" aria-labelledby="v-pills-EasyPET-tab">
        <p class = "text-justify mx-3">The University of Manchester and Caen SyS are studying the way to do PET in a smaller scale and collect the data to a normal computer. They made the Easy PET to present the working principles of PET.
          </p>
          <div class="text-center">
          <iframe src="https://drive.google.com/file/d/1D30FozezxtQ-jHCYOVHrcl2ZSoCAwoN2/preview" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
      <div class="tab-pane fade" id="v-pills-Prototype" role="tabpanel" aria-labelledby="v-pills-Prototype-tab">
        <div class="alert" role="alert">
          <h4>Handling  the weight </h4>
          <hr>
          <p class = "text-justify mx-3">For making the device a wearable, we have been studying how to make it as easy to bare the weight of the device for the patient as possible. We simulate, how well the weight can be distributed. Also we make sure that the center of the weight should be at the patients spine. Also there could be a possibility to use exoskeleton to bear the weight when the patient would be moving.
          </p>
          <h4>Relative motion</h4>
            <hr>
            <p class = "text-justify mx-3">With sensors, that are stuck to the patient's body and to the vest, we’re able to say if the vest is moving relative to the body. This way we can program the data so, that it changes the placement of where the scanning data is coming from, so the results stay accurate.
          </p>
        <h4>First Prototype</h4>
        <hr>
        <img src="../../static/first_prototype1.jpg" alt="halfway_show" style="max-height:500px">
        <hr>
        <h4 calss="alert-heading">Prototype for Motion Capture</h4>
          <hr>
        <img src="../../static/Vest_Draft 2.jpg" alt="halfway_show" style="max-height:500px">
        <hr>
        <h4 calss="alert-heading">Stretching Sensor</h4>
        <hr>
        <img align="center" src="../../static/concept/sensor.png" alt="sensor" style="max-height:500px">
        <p>Stretching sensors are placed between two sensor panels to track the movement of the panels. The stretching sensors are made of fabric and copper clips. The resistance of the sensor increases as the fabric stretches. The maximum stretched length is 30% of the sensor's original length. From the resistance vs. stretched length curve, the most useful range of the stretched length is 0-10%. At the original length, the resistance of the sensor is 10 ohms.
           More information of the vest can be found here:<a href="https://hollandshielding.com/Stretch-sensor">stretching sensor</a>.<p>

        </div>
      </div>

</div>
{% endblock %}
