{% extends 'WPET/base.html' %}
{% load static %}

{%block content%}
<div class = 'col text-left'>
  <div class="article-content-outer m-3" >
    <h2 class="m-3" > Frequent Asked Questions </h2>
  </div>
  <div class="alert m-5" role="alert">
  <h3 calss="text-dark">Why are you scanning only the upper part of the body?</h3>
    <hr>
  <p class = "text-left m-3" > The most of the vital organs are in the upper body, and those organs having cancer and spreading is the most dangerous. There are also risks in neck area, and in the brain. If the upper body wearable scanner proofs to be effective, those areas could also have their own wearable devices developed.
</p>
  <hr>
  <h3 calss="text-dark">Why the radioactive dose is smaller in the wearable than in the traditional scanning device, and why is the wearable scanning for a longer time than the traditional device?
</h3>
  <hr>
<p class = "text-left m-3">The traditional scanning device is very uncomfortable, so being an hour there is already a lot of time. We’re making our device more comfortable to wear, with a lot less claustrophobia. Because it’s possible to wear the device for a couple of hours, we are able to decrease the radiation dose, and with longer scanning time and smaller radiation dose we can still get accurate results. This means that there’s less health risks with the radiation.
</p>
  <hr>
  </div>
  <div>

{% endblock %}
