{% extends 'WPET/base.html' %}
{% load static %}

{%block content%}

<div class = 'col text-center'>
  <img src="../../static/teammember.jpg" alt="teammember" width=100%>
</div>
<div class="alert alert-warning" role="alert">
<ul class="list-unstyled">
  <li class="media">
    <img src="../../static/team/sini.png" alt="sini" class="rounded-circle align-self-center mr-3" width=20%>
    <div class="media-body">
      <h2 class="mt-0">Sini Simpura</h2>
      <p>Project Manager, Mechanical engineer</p>
      <hr>
      <p>For me, this course has mainly taught me how to do a project with a lot of people from different backgrounds and understand the importance of communication and a well bonding group as the key element of succeeding. It has been great to find out how much help you can get to go forward in a project if you just dare to ask for it.
      </p>
      </div>
    </li>
      <hr>
    <li class="media">
      <img src="../../static/team/joy.png" alt="joy" class="rounded-circle align-self-center mr-3" width=20%>
      <div class="media-body">
        <h2 class="mt-0">Zhuoying Ren</h2>
        <p>Product designer</p>
        <hr>
        <p>The best thing I have learned is to learn from other peers. Even though the topic was attractive at the first time when I heard it, it does not mean that working on it is a joyful thing, instead, when numerous unfamiliar terminologies come right in front of my face, the pressure comes, while it creates stress,  it also motivates me to learn it in any way. In this case, mutual learning, talking and discussing in a group becomes the most efficient way to get to know the project increasingly better; and also it offers me a wider perspective of how to design a subject.
        </p>
        </div>
      </li>
      <hr>
    <li class="media">
      <img src="../../static/team/lingyi.png" alt="lingyi" class="rounded-circle align-self-center mr-3" width=20%>
      <div class="media-body">
        <h2 class="mt-0">Lingyi Chen</h2>
        <p>Electrical Engineer</p>
        <hr>
        <p>Text here</p>
        </div>
      </li>

      <hr>
    <li class="media">
      <img src="../../static/team/rami.png" alt="rami" class="rounded-circle align-self-center mr-3" width=20%>
      <div class="media-body">
        <h2 class="mt-0">Raimo Vepsäläinen</h2>
        <p>Mechanical Engineer</p>
        <hr>
        <p>Text here</p>
        </div>
      </li>
      <hr>
      <li class="media">
      <img src="../../static/team/nada.png" alt="nada" class="rounded-circle align-self-center mr-3" width=20%>
      <div class="media-body">
        <h2 class="mt-0">Nada Bellam</h2>
        <p> Fashion designer</p>
        <hr>
        <p>Text here</p>
        </div>
      </li>
      <hr>
      <li class="media">
      <img src="../../static/team/eero.png" alt="eero" class="rounded-circle align-self-center mr-3" width=20%>
      <div class="media-body">
        <h2 class="mt-0">Eero Suhonen</h2>
        <p> Economy Officer, Mechanical Engineer</p>
        <hr>
        <p>Text here</p>
        </div>
      </li>
    </ul>

</div>
{% endblock %}
