{% extends 'WPET/base.html' %}
{% load static %}

{%block content%}
<div class="row mx-5 px-5">

  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-idea-tab" data-toggle="pill" href="#v-pills-idea" role="tab" aria-controls="v-pills-idea" aria-selected="true">Idea Generation</a>
        <a class="nav-link" id="v-pills-marker-tab" data-toggle="pill" href="#v-pills-marker" role="tab" aria-controls="v-pills-marker" aria-selected="true">Test movement with markers</a>
      <a class="nav-link" id="v-pills-vest-tab" data-toggle="pill" href="#v-pills-vest" role="tab" aria-controls="v-pills-vest" aria-selected="false">Vest prototype experiment</a>
      <a class="nav-link" id="v-pills-Poland-tab" data-toggle="pill" href="#v-pills-Poland" role="tab" aria-controls="v-pills-Poland" aria-selected="false">Test in Poland</a>
    </div>
  </div>
  <div class="col-9 ml-auto">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-idea" role="tabpanel" aria-labelledby="v-pills-idea-tab">
        <h4>1. Idea generation session</h4>
        <p class = "text-justify mx-3">Most remarkable idea generation event was a session arranged together with the Finnish members. The idea generation session was organized on 19th of November 2019 at Design Factory. The session took about two hours and there were first five people present and later six (full local team). This report includes all the information related to the documentation of the session.
        </p>
        <p class = "text-justify mx-3">
          In Table 1 the overall process of the idea generation session is seen, and the different parts are explained. First, we started with introduction, which included description of the official workshops and overview to our own session. After this we started to identify the challenges we want to solve during the session. The used methods were the 635 and Negative Brainstorming. Eventually, with the output of the methods, we clustered and combined potential ideas and then picked up few which seemed the most useful to give more focus in the development process.
          </p>
          <p class="text-center">Table 1. The idea generation session parts and their descriptions and durations shown separately.</p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Part</th>
                <th scope="col">Description</th>
                <th scope="col">Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Introduction</th>
                <td>Giving instructions</td>
                <td>10 min</td>
              </tr>
              <tr>
                <th scope="row">Identifying challenges to solve</th>
                <td>“How might we” statements</td>
                <td>15 min</td>
              </tr>
              <tr>
                <th scope="row">1st method</th>
                <td>635</td>
                <td>25 min</td>
              </tr>
              <tr>
                <th scope="row">2nd method</th>
                <td>Negative Brainstorming</td>
                <td>40 min</td>
              </tr>
              <tr>
                <th scope="row">Inspecting results</th>
                <td>Clustering and combining</td>
                <td>20 min</td>
              </tr>
              <tr>
                <th scope="row">Selecting best ideas</th>
                <td>Ideas to keep focus in the future</td>
                <td>10 min</td>
              </tr>
              <tr>
                <td colspan="2" class="text-left">Total duration</td>
                <td>120 min = 2h</td>
              </tr>
            </tbody>
          </table>
          <h4>2. Methods used in the session</h4>
          <h5 class="ml-3">2.1. How might we </h5>
          <div>
          <p class = "text-justify mx-3">We started the idea generation as in the workshops: with the “How Might We” statements. Below are some of the HMW statements: </p>
          <p class = "text-left mx-4">“How might we <mark>place the panels</mark> so that <mark>the vest</mark> can <mark>be adjustable</mark>?” </p>
          <p class = "text-left mx-4">“How might we <mark>distribute the weight</mark> so that <mark>the patient</mark> can live normally?”  </p>
          <p class = "text-left mx-4">“How might we <mark>collect the data</mark> so that <mark>doctor</mark> can <mark>know sensor placement all the time</mark>?”  </p>
          <p class = "text-left mx-4">“How might we <mark>design structure</mark> so that <mark>patient</mark> can <mark>carry weight easier</mark>?” </p>
          <p class = "text-left mx-4">“How might we <mark>design the structure</mark> so that <mark>a person<mark> can <mark>wear it</mark>?”  </p>
          <p class = "text-left mx-4">“How might we <mark>place the panels</mark> so that <mark>measurements</mark> can <mark>be good enough</mark>?”  </p>
          <p class = "text-justify mx-3">Based on the produced statements, together we generated one that we felt like the most suitable for our situation in the development process. The selected HMW statement was: </p>
          <p class = "text-center mx-4">“How might we <mark>design the supporting structure for the panels</mark> so that <mark>human anatomy</mark> can <mark>be taken into account?</mark>?”  </p>
          </div>
          <h5 class="ml-3">2.2. 635 </h5>
          <div>
          <p class = "text-justify mx-3">First used idea generation method was the 635 method (635 brainwriting). This method was familiar for the whole team. The results of the method can be seen in the figures below. As it is seen, many aspects and various ideas were produced. </p>
          <img src="../../static/idea1.jpg" alt="idea1" class="align-self-center mr-3" width="30%" >
          <img src="../../static/idea2.jpg" alt="idea3" class="align-self-center mr-3" width="30%" >
          <img src="../../static/idea3.jpg" alt="idea3" class="align-self-center mr-3" width="30%">
          </div>
          <h5 class="ml-3">2.3. Negative Brainstorming </h5>
          <div>
          <p class = "text-justify mx-3">The second official idea generation method was Negative Brainstorming. This method was interesting, because it dealt with humor, and we had not heard about it before. It offered contrast to the traditional and familiar 635 method. This method offered new ways to think with the absurd opposites. It worked well to open a path to new ideas as it forced to think in a counterintuitive way. As part of the method we also rearranged the previously chosen HMW statement to the following statement: </p>
          <p class = "text-center mx-4">“How might we <mark>design bad structure</mark> so that <mark>patients</mark> can <mark>feel uncomfortable</mark>?” </p>
          <p class = "text-justify mx-3">The list below shows some of the results of the generated negative ideas in written form, and in pictures below also in drawn from. </p>
          <p class = "text-left mx-5">• Making it heavy, from cement </p>
          <p class = "text-left mx-5">• It is molded on you </p>
          <p class = "text-left mx-5">• All the weight is distributed on user’s shoulders </p>
          <p class = "text-left mx-5">• Really tight corset so user cannot breathe</p>
          <p class = "text-left mx-5">• The sensors heat up the structure and then burn the patient’s skin</p>
          <p class = "text-left mx-5">• Patient has to keep the vest up by himself/herself </p>
          <p class = "text-left mx-5">• Huge barrel over the patient </p>
          <p class = "text-left mx-5">• Blinking lights that say “I have cancer” </p>
          <img src="../../static/idea4.png" alt="idea4" class="align-self-center mr-3" width="40%">
          <img src="../../static/idea5.png" alt="idea5" class="align-self-center mr-3" width="40%">
          <p class = "text-justify mx-3">From these results we then together tried to find ideas by turning them to the positive opposites. Some of them were so absurd that it was difficult to find any positive opposites for them. However, we came up with few. These two were the main discoveries:</p>
          <p class = "text-justify mx-3">1.   <mark>From spikes to paddings.</mark> For having spikes inside the vest, we discovered that the vest should have cushioning, quilting and/or paddings to make the vest more fitting and comfortable to use. These features would also help take the human anatomy into account.</p>
          <p class = "text-justify mx-3">2.   <mark>From extreme heat to cooling.</mark> Some negative ideas aimed to heat or burn the patient, and from considering opposite for these we came up with using breathable materials and placing heated electronics such as battery away from the patient’s skin. We had not thought about the potential heating up problems which the multilayered and compact vest might cause.</p>
          </div>
          <h4>3. Results</h4>
          <p class = "text-justify mx-3">Overall results of the idea generation were satisfactory. Most of the generated ideas were good features to have as part of the vest. In the end of the session, we wanted to create at least one concrete idea which would include the main points from the produced results. This meant that from the negative brainstorming we included breathable structure and some paddings or similar. We also kept in mind the initial “How might we” statement about considering human anatomy. We then collected the most popular ideas from the 635 method results, which seemed to be about having adjustable strings or straps as the structure for the vest. </p>
          <p class = "text-justify mx-3">From these we created an idea to make the structure similar to a harness of straps. The harness concept offers adjustability, loose and breathable fit and possibilities for having padding in necessary areas. An important observation was also that unlike a traditional vest concept, the harness could look more lightweight and pleasant to put on and wear for several hours. </p>
          <h4>4. Reflection</h4>
          <p class = "text-justify mx-3">The session was held in a good time since it was still relatively early in the project process and we had just got to define concrete problems and challenges that our product includes. However, the session was a good launch for us to move on to start to create ideas for our product concept. In other words, the session was held early enough regarding the project schedule, but it was also a good point to start moving on from studying only background and defining challenges. </p>
          <p class = "text-justify mx-3">After the session, our team got more familiar on how everybody thinks and the selected methods supported well having quiet and loud people in the team. All the phases included expressing ideas with pen and paper by everybody’s own turns. And most importantly, we all had a lot of fun during the session.</p>
        </div>
      <div class="tab-pane fade" id="v-pills-marker" role="tabpanel" aria-labelledby="v-pills-marker-tab">
        <p> We tested the relative motion with makers and the Military Vest.</p>
        <img src="../../static/test_with_markers.jpg" alt="idea1" class="align-self-center mr-3" width="30%" >
        <img src="../../static/test_with_markers2.jpg" alt="idea3" class="align-self-center mr-3" width="30%" >
        <img src="../../static/test_with_markers3.jpg" alt="idea3" class="align-self-center mr-3" width="30%">
          </div>
      <div class="tab-pane fade" id="v-pills-vest" role="tabpanel" aria-labelledby="v-pills-vest-tab">
        <h4>Vest prototype experiment</h4>
        <hr>
        <h5 class="ml-3">Intro</h5>
        <p class = "text-justify mx-3">To demonstrate the scanning process with the final product, an experiment was performed on Wednesday 6th of May 2020 at 10.20am–6.20pm. In the experiment a member of the WPET team wore a 10 kg prototype vest. This vest can be seen in the picture below. Additional information of the vest can be found here:
          <a id="Tagone" href="https://www.proairsoft.com/airsoft/combat-gear/vests/condor-hydration-mesh-vest-tactical-vest-tan-p-2764.html">Condor Hydration Mesh Vest Tactical Vest Tan</a>.The aim of the experiment was collecting user experience of using a prototype with the amount of weight which is estimated to be the weight of the final product. Additionally, realistic circumstances were created.</p>
        <p class = "text-justify mx-3">To create realistic circumstances the vest was worn for duration of 8 hours and the user was fasting for the whole process. 8 hours is the estimated time of use of the final product because it enables to gather more data from the scanning than the traditional 30-60 minute scan.</p>
        <p class = "text-justify mx-3">Fasting was performed as part of the experiment to simulate the real scanning event. Only drinking of water was allowed. The fasting started 12 hours prior to the experiment, and it went on for the whole 8 hour experiment. This simulated the part of not  being allowed to consume sugar (glucose more specifically) by eating something. This is done as part of PET to avoid scanning data disturbance caused by the additional glucose when mixed with the radioactive glucose tracer used in as part of PET scanning. In addition, the fasting was meant to cause the user weakened condition, similar to the real patient’s condition.</p>
        <p class = "text-justify mx-3">The vest prototype weighted 10 kg as it is the current estimated weight of the final product. The prototype was constructed from an airsoft tactical vest with pockets in its structure. There was one large pocket in the back of the vest and two smaller pockets in the front. Four 2.5 kg weightlifting weights (picture below) were used to produce the required weight. The pockets made it possible to place two plates in the back and two in the front. With the used implementation it was possible to achieve a well distributed weight for the vest. The weight placements can be seen in the pictures below.</p>
        <div class="text-center">
        <img src="../../static/vest10_1.png" alt="vest1" class="align-self-center" width="30%" >
        <img src="../../static/vest10_2.png" alt="vest12" class="align-self-center" width="30%">
        <img src="../../static/vest10_3.png" alt="vest13" class="align-self-center" width="30%">
        </div>
        <div class="alert" role="alert">
        <li class="media">
          <img src="../../static/team/rami.png" alt="rami" class="rounded-circle align-self-center mr-3" width=20%>
          <div class="media-body text-center">
            <hr>
            <p class="text-justify">Below is some reflection from Raimo who performed the experiment. Raimo is a member of the team and therefore the reflection includes also thoughts related to developing the product in addition to telling how the experiment felt.
            </p>
            </div>
          </li>
          <h4>Fasting</h4>
          <p class = "text-justify mx-3">Fasting caused most of the challenges. Since I am used to eating normally, the sudden change to fasting was hard. However, it was possible to fast for 12 hours before the experiment time and during the whole 8 hour time. The fasting gave me feel from the symptoms similar to what can be imagined that the real patients have, such as headache, difficulties to speak or to focus and not being able to do anything related to bright lights or loud noises. Still, my overall condition was not probably so close to the real patient’s. For the real patients, the change in eating habits might not be so significant as they already are probably eating less, since they are sick and under heavy treatments.</p>
          <h4>Weight of the vest</h4>
          <p class = "text-justify mx-3">As stated above, four 2.5 kg weight plates were placed into the airsoft vest. In the back the weight plates were placed into a pocket covering the whole height of  the back. This caused no problems as I was mostly laying down or sitting with my back on a 45 degrees angle on a soft surface. This way the plates did not cause any pressure or weight to the back.</p>
          <p class = "text-justify mx-3">The two plates in the front were placed on my abdomen. When laying down or sitting, I could feel the plates only on the sides of my abdomen, not in the center or on my torso. This was helpful because I was able to breathe normally. After 6 hours of wearing the vest the plates started to feel heavier and uncomfortable. Still, I  was fully capable to continue the experiment.</p>
          <p class = "text-justify mx-3">Maybe the feelings would have been worse if I had eaten something during the experiment, because then my stomach would have been active and full. In the final product, probably the sides of the body or the edges of the abdomen area would be the optimal places for the heaviest points as they are soft and do not cause difficulties in breathing.</p>
          <h4>Movements and positions</h4>
          <p class = "text-justify mx-3">Moving around was overall possible and I did not feel too restricted. The general instructions for the scanning are that exercising and excess moving are prohibited, but normal moving such as sitting, laying down, walking, and bending over are allowed. When I was doing these movements, I noticed that sitting down caused the vest to rise up, which meant that the imaginary sensor panels would have moved about 3-5 cm. This would be an issue with the sensor accuracy. However, when sitting on the sofa, I was able to place my middle body to 45 degrees angle. This was good position as the vest did not rise and I felt very comfortable.</p>
          <p class = "text-justify mx-3">For first 6 hours I had no difficulties with moving with the vest or even in wearing it. Only issues occurred as I was laying vertically in my back. This caused the front plates to drift to the side, where one was moving to the center of my abdomen and one to the side of my body. This would again be problematic for the sensor accuracy. However, at least at this point laying down vertically or sleeping when wearing the vest are still under consideration about being allowed to be done during the scanning process</p>
          <p class = "text-justify mx-3">After 6 hours the plates started to feel uncomfortable on my stomach from sitting a lot in the 45 degrees position. In addition, when standing up, the weight of the vest was increasingly heavier towards the end, probably due to overall exhaustion. After 7 hours or during the final hour, the weight felt doubled when compared to the real 10 kg weight. In the end I think my “symptoms” went rapidly worse towards the end as I knew that the experiment was coming to an end.</p>
          <h4>Senses and feelings</h4>
          <p class = "text-justify mx-3">During the experiment most of the issues were caused from not eating. After 6 hours I got a slight headache, which continued until the end. However, it did not disturb too much and did not get worse. In the beginning I felt increasingly hungry but after 2-3 hours the hunger went away. Drinking water helped in this.</p>
          <p class = "text-justify mx-3">My vision and hearing became sensitive during the experiment. After 6 hours my eyes were very sensitive to bright lights and for the last 30 minutes I had to close my eyes and go in a dark room. Hearing was not as bad, but some noises in movies that I was watching felt occasionally disturbing.</p>
          <p class = "text-justify mx-3">Speaking and understanding became difficult after 4 hours of the experiment. I had one remote meeting with the WPET team. During the meeting it was hard to find words and I lost logic in my talk. Additionally, understanding others turned out to be difficult. However, these challenges were only minor.</p>
          <h4>Entertainment</h4>
          <p class = "text-justify mx-3">During the experiment there was no need for entertainment requiring focus. For the first couple hours I tried to do school assignments on laptop but had to stop as it was getting challenging to focus. Physical entertainment is also unsuitable, because as the experiment went on I was getting tired more and more. Watching movies was the best entertainment for me. It does not require moving and the noise level, brightness and need for focus can be adjusted from the device and by selecting suitable movies.</p>
          <p class = "text-justify mx-3">Good entertainment environment would be the same as when travelling in a plane. Moving around is very restricted, but at least in long flights a screen is provided where it is possible to watch movies and series and listen to music or podcasts.</p>
          <h4>General observations</h4>
          <p class = "text-justify mx-3">All in all, this user experience experiment was physically and mentally surprisingly light experience. Being in normal health and physically in normal condition, it was easy to manage the circumstances of the experiment. I suggest that this process is possible to implement even for a patient under other treatments. However, it might cause more severe symptoms and therefore should be done in a supervised environment.</p>
          </div>
          <div class="text-center">
          <iframe  src="https://drive.google.com/file/d/1P9xsSTiMr5-1eF9b45keGsss1KBQW1zM/preview" width="560" height="315"></iframe>
          </div>
      </div>
      <div class="tab-pane fade" id="v-pills-Poland" role="tabpanel" aria-labelledby="v-pills-Poland-tab">
        <h2>Test in Poland</h2>
        <p class = "text-justify mx-3">Add the video from the poland team (cant generate the link)</p>
      </div>

</div>



{% endblock %}
